/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;

}

a {
    text-decoration: none;
}

/* CLASSI UTILITY */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 20px auto;
}

.row {
    display: flex;
}

.row-plus {
    flex-wrap: wrap;
    gap: 25px;
}

.col-3 {
    width: calc((100% - 75px) / 3);
}

/* LAYOUT */
#header {
    padding: 5px 0 20px;
}

#main-title {
    text-align: center;
    color: #e53170;
}

#description {
    padding-bottom: 40px;
}

.card {
    border: 1px solid black;
    background-color: black;
    color: white;
    
}

.photo {
    width: 30%;
}

.content {
    width: 70%;
    padding-left: 10px;
    flex-direction: column;
}

.name{
    font-weight: 900;
    padding-bottom: 3px;
}

