/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;

}

a {
    text-decoration: none;
}

/* CLASSI UTILITY */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 20px auto;
}

.row {
    display: flex;
}

.row-plus {
    flex-wrap: wrap;
    gap: 25px;
}

.col-3 {
    width: calc((100% - 75px) / 3);
}

/* LAYOUT */

/* HEADER */
#header {
    padding: 5px 0 20px;
}

#main-title {
    text-align: center;
    color: #e53170;
}

/* MAIN */
#description {
    padding-bottom: 40px;
}

/* CARD */
.card {
    background-color: black;
    color: white;
    
}

.photo {
    width: 30%;
}

.content {
    width: 70%;
    padding-left: 10px;
    flex-direction: column;
}

.name{
    font-weight: 900;
    padding-bottom: 3px;
}

/* FORM */
.add-area {
    width: 60%;
    max-width: 900px;
    margin: 60px auto 0px;

    /* DEBUG */
    border: 1px solid black;
}

.add-area h3 {
    text-align: center;
    padding: 10px 0 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 20px;
    width: 200px;
    max-width: 90%;
}

#btn-submit {
    margin-bottom: 20px;
    padding: 0 10px;
}




